# C++源代码
ipch/
Release/

*.sdf
*.suo
*.exp
*.pdb
*.cd

# Python编译文件
*.pyc
*.pyo

# WingIDE文件
*.wpr
*.wpu

# 压缩文件
*.zip

# API的.con文件
*.con

# visual studio
*.opensdf

# 本地持久化文件
*.vn



# 其他文件
*.dump
*.vssettings
*.klg
*.lkc

# 不想同步的
*.local
*.temp
*.vt
*.log

vn.ctp/build/*
vn.lts/build/*
.idea
.vscode
.gitignore

vn.trader/ctaAlgo/data/*
vn.trader/build/*
vn.trader/dist/*
*.bak
tmp/

# project
vn.trader/
tmp/
temp/
vnpy/api/ctp/
*-info/
CTA_setting.json
CTP_connect.json
VT_setting.json
*.ipynb
vtserver_test.sh
test.py
logging.conf
temp/
slave.turtle/vtserverdocker.sh
slave.turtle/kill_turtle.sh
slave.turtle/shell.sh
slave.turtle/RM_setting.json
slave.turtle/vtdocker.sh
log.sh
testclear.py
*.pickle
slave.turtle/logging_test.conf
logging_test.*
checkstock.py
nohup.out
optization/shell.sh
optization/optserverdocker.sh
optization/optserver.sh
optization/optboss.sh
optization/optbossdocker.sh
optization/opt_test.json
optization/run_optbossMac.py
optization/loggingMac.conf
optization/test1.py

